*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin: 0 5%;
    border-bottom: 1px solid hsl(242, 242, 242);
    padding: 20px 0;
}

ul{
    list-style-type: none;
}

section{
    padding: 0 5%;
}

section div ul:first-child{
    display: flex;
    background-color: rgb(242, 242, 242);
}

section div ul:first-child li{
    padding: 20px;
}

section div ul:first-child li{
    border: 1px solid rgb(219, 219, 219);
}

section article ul li{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

section p{
    display: center;
}